#1.What is Python, and why is it popular
#2.What is an interpreter in Python
#3.What are pre-defined keywords in Python
#4.Can keywords be used as variable names
#5.What is mutability in Python
#6.Why are lists mutable, but tuples are immutable
#7.What is the difference between “==” and “is” operators in Python
#8.What are logical operators in Python
#9.What is type casting in Python
#10.What is the difference between implicit and explicit type casting
#11.What is the purpose of conditional statements in Python
#12.How does the elif statement work
#13.What is the difference between for and while loops
#14.Describe a scenario where a while loop is more suitable than a for loop

ANSWERS

1. >>Python is a programming language that helps a person to code and it is popular because of its use in vast fields as it is easy to learn

2. >>It directly executes python code line by line

3. >>Pre-defined keywords are those keywords that are already defined in the
language suc as and it cannot be used as variable name eg:if,else,for

4. >>No it cannot be used as variable name

5. >>Mutability term refers to the meaning of changing something without changing adress

6. >>List are mutable because we can add,remove or rename listing the index the new elements

   >>But tuples are immutable because in this we cannot change and it enhances data integrity

7. >> '==' operator compares elements whereas 'is' operators checks whether two variable point to the same object

8. >>logical operators gives true or false types of operator in python are:
     1. and - it gives true if both condition true
     2. or - it gives true if any one condition is true
     3. not - it reverses the condition

9. >>Typecasting is changing the element from one form to other form for eg:-changing a string to integer

10. >>implicit type casting - it automatically converts
    >>explicit type casting - we have to convert it by mentioning for eg you want to convert str to int then we have to write it as s = 'ajay'
    then int(s) and it will be converted

11. >>it checks the flow of a program

12. >>The elif statement allows multiple statements to be checked for eg if one thing doesnt work then go the else block

13. >>while loop works until the condition is true
    >>for loop works for a specified number of iterations

14. >>while loop is good when you user inputs a number

In [ ]:
# Write a Python program to print "Hello, World!
# Write a Python program that displays your name and age
# Write code to print all the pre-defined keywords in Python using the keyword library
# Write a program that checks if a given word is a Python keyword.
# Write a function to demonstrate the behavior of mutable and immutable arguments.
# Write a program that performs basic arithmetic operations on two user-input numbers.
#  Write a program to demonstraters. the use of logical operato
# Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
# for each.
# Write a Python program to convert user input from string to integer, float, and boolean types.
# Write code to demonstrate type casting with list elements.
# Write a program that checks if a number is positive, negative, or zero.
# Write a for loop to print numbers from 1 to 10.
# Write a Python program to find the sum of all even numbers between 1 and 50.
# Write a program to reverse a string using a while loop.
# Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [2]:
#first question
a = 'hello world!'
print(a)

hello world!

In [4]:
#second question
Name = 'Syed'
Age = 21
print('Name: ',Name,'Age: ',Age)

Name:  Syed Age:  21

In [5]:
#Third question
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
#fourth question
import keyword
k = 'for'
k in keyword.kwlist

True

In [11]:
#fifth question

In [14]:
#sixth question
a = True
b = False
a & b

False

In [15]:
#7th question
l = [1,2,3,4]
t = ('hi','hello','how are you')

In [16]:
#changing in list
l[0]=6
l

[6, 2, 3, 4]

In [17]:
#changing in tuple
t[0]='bye'
t
#in tuple it will throw an error as it is immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
#8th question
number = input('number')

number'123'

In [28]:
#string to integer
convertednumber = int(number)
print(convertednumber)

123

In [31]:
#string to float
floatvalue = float(number)
floatvalue

123.0

In [30]:
#string to boolean
boolvalue = bool(number)
print(boolvalue)

True

In [36]:
#9th question
l = ['1','2','3']
#typecasting
castedvalue = int(l[0])
print(castedvalue)

1

In [5]:
#10th ques
number = int(input('enter the number: '))   ##always state the value in which you want to input the numberr
if number == 0:
  print('the number is zero')
elif number > 0:
    print('the number is positive')
elif number < 0:
      print('the number is negative')

enter the number: -9
the number is negative

In [7]:
#11th ques
for i in range(1,11):
     print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#12th ques
sum = 0
for i in range(1,51):
  if i%2 == 0:
    if i==51:
      break
    sum = sum+i
print("the sum of even numbers are: ",sum)

the sum of even numbers are:  650

In [26]:
#13 ques
s = '1234'
num = int(s)
reverse = 0
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10
print(reverse)

4321

In [31]:
#14th ques
number = int(input('enter the number: '))
factorial = 1
while number>0:
   factorial = factorial*number
   number = number-1
print(factorial)

enter the number: 5
120